@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background-image: url('/pages/hero-3/assets/img/hupplepuf.jpg'); /* Add your background image here */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.header {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    width: 100%;
    background: none;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
}

.header a {
    color: #e4dfdf;
    text-decoration: none;
    margin: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Cinzel', serif;
    border: 1px solid #c0b12a;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    display: inline-block;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #000;
}

.header a:hover {
    background-color: #9daa25;
    color: #000000;
    transform: scale(1.1);
}
.card {
    display: flex;
    flex-direction: row;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-width: 800px;
    height: 300px;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.content {
    padding: 20px;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: fadeIn 2s ease-in;
}

.content h1 {
    font-size: 28px;
    margin: 0 0 10px;
    color: #333;
    animation: slideInLeft 1s ease-in-out;
}

.content p {
    font-size: 16px;
    color: #555;
    animation: slideInRight 1s ease-in-out;
}

.image-container {
    flex: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 2s ease-in;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 15px 15px 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
