@import url('https://fonts.cdnfonts.com/css/harry-potter');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Great+Vibes&family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Cinzel', serif;
    background-color: #f5f5f5;
    overflow: hidden;
    position: relative;
    height: 100vh;
}

.header {
    padding: 20px;
    text-align: right;
    position: relative;
    z-index: 2;
}

.header a {
    color: #f1ecec;
    text-decoration: none;
    margin: 0 15px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Cinzel', serif;
    border: 2px solid #020202;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    display: inline-block;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header a:hover {
    background-color: #f5f5f5;
    color: #084203;
    transform: scale(1.1);
}

.wallpaper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
}

.top {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    color: #fff;
}

.top h3 {
    font-size: 36px;
    margin: 0;
    font-family: 'Cinzel', serif;
}

.top h1 {
    font-size: 65px;
    margin: 20px 0;
    font-family: 'Harry Potter', sans-serif;
}

.top h2 {
    font-size: 36px;
    margin: 0;
    font-family: 'Cinzel', serif;
}

